<div id="main-landing">
  {{ $gh := getJSON $.Site.Data.me.api_url }}
  <h1 class="mobile-hide">Hey 👋</h1>
  <h1 class="mobile-only">Hey👋 I’m</h1>
  <div class="rotating-text">
    <h1 class="mobile-hide">I’m </h1>
    <h1>
      {{- range $index, $desc := $.Site.Data.me.descriptors -}}
        <span class="word col{{add (mod $index 4) 1}}">{{$desc}}</span>
      {{- end -}}
    </h1>
  </div>
  <ul id="sub-nav">
    {{- range $index, $desc := $.Site.Data.links.intro -}}
    <li><a href="{{.link}}">/{{.link_name}}</a></li>
    {{- end -}}
  </ul>
  <div id="bio-landing">
    {{$jsonContent := (dict "name" $gh.name "currently" $gh.company "location" $gh.location "bio" $gh.bio) | jsonify (dict "prefix" " " "indent" " ") }}
    <div class="lt-shadow highlight-container">
      {{highlight $jsonContent "json" ""}}
    </div>
  </div>
</div>