<div class="lt-flex-50" {{range $.Site.Data.aos.settings}}{{. | safeHTMLAttr}}{{end}}>
  {{ $gh := getJSON $.Site.Data.me.api_url }}
  <p>
    {{$.Site.Data.me.description}}
  </p>
  <p> Currently, I'm based in {{$gh.location}} and am studying <a href="https://uwaterloo.ca/future-students/programs/management-engineering">Management Engineering</a> at the University of Waterloo. I've completed a coop at FundThrough, and have done freelance work with EDify Talks and Felicity. I'm also the <a href="https://uwaterloo.ca/engineering-endowment-foundation/">Waterloo Engineering Endowment Fund</a> Director of Operations, helping fund the future of innovation here @ UW.</p>
  <p>
    In my spare time, you can find me <a href="https://youtu.be/Q3yjcUDW-E4">grinding out times on tough cs_surf maps,</a>. watching way too much youtube, or pumping iron at the gym. There's so much more to life than work, so maybe check out more about my <a href="/personal">personal endeavours here</a>.
  </p>
  <p>
    While you're here, feel free to check out my <a target="_blank" rel="noreferrer" href="{{$.Site.Data.me.resume}}">resume</a>, 
    connect with me on <a target="_blank" rel="noreferrer" href="https://linkedin.com/in/yuvrajwalia">my LinkedIn</a>, or
    contact me at <a target="_blank" rel="noreferrer" href="mailto:waliayuvraj@gmail.com">waliayuvraj@gmail.com</a>. 
      I'm always eager to make a meaningful connection, so let's make ours one.
  </p>
</div>
<div class="lt-flex-50 img-container">
  <img class="lt-shadow me" src="res/me2.jpg" alt="Yuvraj Walia" loading=lazy/>
</div>